@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient-x {
    animation: gradient-x 3s ease infinite;
  }
}

@keyframes gradient-x {

  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }

  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

/* Custom Styles */
body {
  font-family: 'Manrope', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 24px;
  /* Standardize icon size */
}

.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1;
}

/* Custom Scrollbar for inner containers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

/* Print Styles */
@media print {
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  body {
    background: white;
    margin: 0;
    padding: 0;
  }

  #resume-preview {
    transform: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
    page-break-after: always;
  }
}